/* General */
.perfil-container {
    background-color: #f4f7fa;
    padding: 30px;
    border-radius: 10px;
  }
  
  .perfil-card {
    border: none;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .perfil-img {
    border: 4px solid #fff;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
  
  .perfil-nombre {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
  }
  
  .perfil-email {
    font-size: 1rem;
    color: #777;
  }
  
  .welcome-message {
    font-size: 1.8rem;
    color: #444;
    font-weight: bold;
    text-align: center;
  }
  
  .nav-link {
    font-size: 1.1rem;
    color: #007bff;
    margin-bottom: 10px;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #0056b3;
    text-decoration: underline;
  }
  
  /* Iconos */
  .nav-link svg {
    margin-right: 10px;
  }
  
  .error {
    color: red;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
  }
  